<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <table>
            <tr>
                <th>아이디</th>
                <th>코스명</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <% course.forEach(function(value) {%>
            <tr>
                <td><%= value.ID%></td>
                <td><%= value.title%></td>
                <td><a href="/edit/<%=value.ID%>">수정</a></td>
                <td><a href="/delete/<%=value.ID%>">삭제</a></td>
            </tr>
            <%});%>
        </table>
    </body>
</html>
